{% extends "./base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="row" style="margin-bottom: 25px">
    <div class="col-12 col-md-12">
		<div class="card redial-border-light redial-shadow">
		    <div class="card-body">
		    	<a href="/add/admin/" class="btn btn-primary btn-xs" style="margin-right: 10px">Add Admin</a>
		    	<button class="btn btn-success btn-xs" style="margin-right: -3px">Active</button>
		    	<button class="btn btn-danger btn-xs"  style="margin-right: 10px">Inactive</button>
		    </div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
		<div class="card redial-border-light redial-shadow">
		    <div class="card-body">
		<h6 class="header-title pl-3 redial-relative">Admin</h6>
		                                        <table id="example" class="table table-bordered" cellspacing="0" width="100%">
		                                            <thead>
		                                                <tr>
		                                                    <th>S/N</th>
		                                                    <th>Employee ID</th>
		                                                    <th>Name</th>
		                                                    <th>Contact</th>
		                                                    <th>Location</th>
		                                                    <th>Action</th>
		                                                </tr>
		                                            </thead>
		                                            <tfoot>
		                                                <tr>
		                                                    <th>S/N</th>
		                                                    <th>Employee ID</th>
		                                                    <th>Name</th>
		                                                    <th>Contact</th>
		                                                    <th>Location</th>
		                                                    <th>Action</th>
		                                                </tr>
		                                            </tfoot>
		                                            <tbody>
		                                                <tr>
		                                                    <td>Tiger Nixon</td>
		                                                    <td>System Architect</td>
		                                                    <td>Edinburgh</td>
		                                                    <td>61</td>
		                                                    <td>2011/04/25</td>
		                                                    <td><a class="fa fa-pencil" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
		                                                    	<a class="fa fa-trash-o" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
		                                                    	<a class="fa fa-exclamation-triangle" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a></td>
		                                                </tr>
		                                                <tr>
		                                                    <td>Garrett Winters</td>
		                                                    <td>Accountant</td>
		                                                    <td>Tokyo</td>
		                                                    <td>63</td>
		                                                    <td>2011/07/25</td>
		                                                    <td><a class="fa fa-pencil" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
		                                                    	<a class="fa fa-trash-o" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
		                                                    	<a class="fa fa-exclamation-triangle" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a></td>
		                                                </tr>
		                                                <tr>
		                                                    <td>Ashton Cox</td>
		                                                    <td>Junior Technical Author</td>
		                                                    <td>San Francisco</td>
		                                                    <td>66</td>
		                                                    <td>2009/01/12</td>
		                                                    <td><a class="fa fa-pencil" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
		                                                    	<a class="fa fa-trash-o" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
		                                                    	<a class="fa fa-exclamation-triangle" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a></td>
		                                                </tr>
		                                            </tbody>
		                                        </table>
		</div>
		</div>
	</div>
	</div>	
{% endblock main_content %}
