{% extends "./base.html" %}
{% load staticfiles %}

{% block main_content %}
<!-- Heading -->
  <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">

          <h6 class="mb-2 mb-sm-0 pt-1">
              <a href="{% url 'home_page' %}">Home Page</a> /
              <a href="#">Category</a>
          </h6>
      </div>
      <div hidden id="loader" class="progress md-progress primary-color-dark">
          <div class="indeterminate">
          </div>
      </div>
  </div>
  <!-- Heading -->
<!-- 00000 -->
<div class="card">
  <h6 class="card-header text-center font-weight-bold text-uppercase py-4">Business Category List
  </h6>
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <a href="/tax/add/category/" class="btn btn-primary btn-xs" style="margin-right: 10px">Add Category</a>
		    	<button class="btn btn-primary btn-xs" style="margin-right: 10px">Download</button>
		    	<button class="btn btn-success btn-xs" style="margin-right: -3px">Active</button>
		    	<button class="btn btn-danger btn-xs"  style="margin-right: 10px">Inactive</button>
        </div>
    </div>
    <table id="example" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>S/N</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            	<th>S/N</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody>
        	{% for category in categories %}
            <tr>
            	<td>{{ forloop.counter }}.</td>
                <td>{{category.name}}</td>
                <td>
                	<a class="fa fa-pencil" href="/tax/add/category?q={{category.id}}" style="margin-right: 10px"></a>
                	<a class="fa fa-trash-o" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
                	<a class="fa fa-exclamation-triangle" href="" data-toggle="modal" data-target="#addBusCat" style="margin-right: 10px"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
<!-- 00000 -->


	<!-- add Business Category modal-->                     
                        <div class="modal fade" id="addBusCat" tabindex="-1" role="dialog" aria-labelledby="addBusCatLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addBusCatLabel">Add New Business Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                    <div class="form-group">
                                            <label for="message-text" class="col-form-label">Location</label>
                                            <select class="form-control" id="location">
                                                <option>--Select Location--</option>
                                                <option>Location 1</option>
                                                <option>Location 2</option>
                                                <option>Location 3</option>
                                            </select>
                                    </div> 
                                    <div class="form-group">
                                            <label for="message-text" class="col-form-label">Business Category/Type</label>
                                            <input type="text" class="form-control" id="busCat">
                                    </div>  

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Add Business Category</button>
                                </div>
                                </div>
                            </div>
{% endblock main_content %}
