    <!--Modal: setup new session Form-->
   <!--Modal: setup new session Form-->
    <form method="post" action="{% url 'department_add' %}">{% csrf_token %}
        <div class="modal fade" id="newDept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

              <!--Header-->
              <div class="modal-header mdb-color darken-3 white-text">
                <h4 class="">ADD A DEPARTMENT</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
              <div class="md-form form-sm">
                <input name="dept_name" type="text" id="inputSMEx" class="form-control form-control-sm">
                <label for="inputSMEx">Department Name</label>
              </div>

               <div class="md-form form-sm">
                <input name="dept_code" type="text" id="inputSMEx" class="form-control form-control-sm">
                <label for="inputSMEx">Department Code</label>
              </div>

              <div class="md-form form-sm">
                <input name="dept_head" type="text" id="inputSMEx" class="form-control form-control-sm">
                <label for="inputSMEx">Department Head</label>
              </div>

                <div class="text-center mt-1-half">
                  <input type="submit" name="submit" class="btn btn-info mb-1 fas fa-check ml-1">
                </div>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
    </form>
        <!--Modal: Subscription From-->