{%  extends 'base.html' %}
{% block main %}
  <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
          <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a> /
            <a href="{% url 'staff' %}">Staff</a> / 
            <a href="#">Add Staff</a>
          </h6>
      </div>
      </div>
      <div class="homepage-boxes">
        <div class="container">
            <div class="title" style="margin-bottom: 30px">
                <h4>Staff Registration </h4>
            </div>
            <div id="load-error">
              
            </div>
            <form action="{% url 'staff_save' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Firstname</label>
                      <input name="first_name" type="text" class="form-control" id="inputEmail4" placeholder="Firstname">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Lastname</label>
                      <input name="last_name" type="text" class="form-control" id="inputPassword4" placeholder="Lastname">
                    </div>
                </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Address</label>
                        <input name="address" type="text" class="form-control" id="inputPassword4" placeholder="Address">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Department</label>
                        <select name="department" class="form-control">
                          <option selected disabled>Select Depart.</option>
                          {% for department in departments %}
                          <option value="{{ department.id }}">
                            {{  department.name }}
                          </option>
                            {% empty %}
                            <option selected disabled>No Department available</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>NIMC Number</label>
                        <input name="nimc" type="text" class="form-control" id="inputEmail4" placeholder="NIMC Number">
                      </div>

                      <div class="form-group col-md-6">
                        <label>Phone Number</label>
                        <input name="phone_number" type="tel" class="form-control" id="inputEmail4" placeholder="Phone Number">
                      </div>
                  </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email Address">
                      </div>
                      <div class="form-group col-md-6">
                        <label>LGA</label>
                        <select class="form-control" name="lga">
                            <option value="Yola South">Yola South</option>
                            <option value="Yola North">Yola North</option>
                            <option value="Mubi South">Mubi South</option>
                            <option value="Mubi North">Mubi North</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Gender</label>
                        <select name="gender" class="form-control">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select> 
                      </div>
                      <div class="form-group col-md-6">
                        <label>Disability</label>
                        <input name="disability" type="text" class="form-control" placeholder="Disability">
                      </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Workplace</label>
                        <input name="place_of_work" type="text" class="form-control" placeholder="Place of Work">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Salary</label>
                        <input name="salary_amount" type="text" class="form-control" placeholder="Place of Work">
                      </div>
                  </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Next of Kin</label>
                        <input name="next_of_kin" type="text" class="form-control" placeholder="Next of Kin">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Nationality</label>
                        <input name="nationality" type="text" class="form-control" placeholder="Nationality">
                      </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>State of Origin</label>
                        <select name="state_of_origin" class="form-control">
                          <option value="Male">Adamawa</option>
                          <option value="Male">Abuja</option>
                          <option value="Male">Taraba</option>
                          <option value="Male">Oyo</option>
                          <option value="Female">Ondo</option>
                          <option value="Female">Osun</option>
                          <option value="Female">Ekiti</option>
                          <option value="Female">Kano</option>
                          <option value="Female">Lagos</option>
                          <option value="Female">Osun</option>
                        </select> 
                      </div>
                      <div class="form-group col-md-6">
                        <label>Passport</label>
                        <div title="choose image" class="custom-file">
                          <input name="passport" type="file" class="custom-file-input" id="customFileLang" lang="en">
                          <label class="custom-file-label" for="customFileLang">Select Photo</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="opening-hours">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Date Employed</label>
                              <input name="date_of_employment" type="date" class="form-control" placeholder="Date Employed">
                            </div>
                            <div class="form-group col-md-6">
                              <label>Retirement Date</label>
                              <input name="date_of_retirement" type="date" class="form-control" id="inputPassword4" placeholder="Retirement">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="text-primary">Bank Detail</h6>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Bank Name</label>
                        <input name="bank_name" type="text" class="form-control" placeholder="Bank Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Account Number</label>
                        <input name="account_number" type="text" class="form-control" placeholder="Account Number">
                      </div>
                     
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Account Name</label>
                        <input name="account_name" type="text" class="form-control" placeholder="BVN">
                      </div>
                      <div class="form-group col-md-6">
                        <label>BVN</label>
                        <input name="bvn" type="text" class="form-control" placeholder="BVN">
                      </div>
                  </div>
                </div>
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Save">
          </form>
        </div>
    </div>
{% endblock %}